<nav>
    <ul>
        <li><a href="{{ path('accueil')}}">Accueil</a></li>
        <li><a href="{{ path('projets')}}">Projets</a></li>
        <li><a href="{{ path('getProjet')}}">Admin</a></li>
        <li><a href="{{ path('loginForm')}}">Login</a></li>
    </ul>
</nav>
